<a href="https://colab.research.google.com/github/tieucotu/AIO/blob/main/Day_7_TBT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
#__1
lst_data = []
for number1 in range(1, 13):
    if number1 % 2 == 0:
        lst_data.append(number1)
    else:
      continue
print('Q1: ',lst_data)

#__2
for number2 in lst_data:
    if number2 % 3 == 0:
      lst_data.remove(number2)
    else:
      continue
print('Q2: ',lst_data)

#__3.1

for i in range(1, 4):
  lst_data.append(i)
  #__3.2
for j in range(8, 5, -1):
  lst_data.insert(3, j)
print('Q3: ',lst_data)
'''
#__3.3
number_start = 6
index_start = 3
for _ in range(3):
  lst_data.insert(index_start, number_start)
  index_start += 1
  number_start += 1

print('Q3_3: ',lst_data)
'''
#__4
for index in lst_data:
  if (lst_data[index] % 2 == 0) or (lst_data[index] % 5 == 0):
   lst_data[index] = 0
print('Q4: ',lst_data)

Q1:  [2, 4, 6, 8, 10, 12]
Q2:  [2, 4, 8, 10]
Q3:  [2, 4, 8, 6, 7, 8, 10, 1, 2, 3]
Q4:  [0, 0, 0, 0, 7, 8, 0, 1, 0, 3]